

html {
    font-size: 62,5%;
    }

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}

.container {
  box-sizing: border-box;
  width: 100%;
  border: solid 1px black;
  border-radius: 1.2rem;
  background-image: linear-gradient(to bottom right, gainsboro, white);
  padding: 1em;

}

.container .heading, .container .text {
  float: right;
  width: 80%;
  box-sizing: border-box;
  padding-block-end: 15px;
  padding-left: 1rem;
}

.container .heading h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  font-size: 30px;
}

.container .text p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}

.container .image {
  float: left;
  width: 20%;
  box-sizing: border-box;
}

.container .image img {
  padding: 5px;
  border-top: solid 1px lightgray;
  border-left: solid 1px lightgray;
  border-right: solid 1px darkgray;
  border-bottom: solid 1px darkgray;
  background-color: white;
  box-shadow: 6px 6px darkgray;
  max-width: 100%;
}


.reverse .heading, .reverse .text {
  float: left;
  padding-right: 0.5rem;
  padding-left: 0;
  width: 80%;
}

.reverse .image {
  float: right;
  width: 20%;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

@media only screen and (max-width: 425px) {
  body {
    margin: 0;
    flex-direction: column;
  }

  .container {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    min-width: 320px;
    padding: 10px;
  }

  .container .heading, .container .text {
    padding-left: 1.5rem;
  }
  .reverse .heading, .reverse .text {
    padding-left: 0;
  }

  .reverse .image {
    padding-right: 1rem;
  }
}